/*~~~
FONT DEFAULTS
~~~*/


html,body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	max-width: 100%;
    overflow-x: hidden;
	
}

h1 {
	font-weight: 700;
}
h2 {
	font-weight: 500;
}
h3{
	font-weight: 300;
}
.regular{
	font-size: 2rem;
}
/*~~~
COLOURS
~~~*/

.red-bg{
	background-color: rgba(227,21,5, 0.9);
}
.orange-bg{
	background-color: rgba(227,111,5, 0.9);
}
.blue-bg{
	background-color: rgba(31,141,156, 0.9);
}
.green-bg{
	background-color: rgba(36,195,64, 0.9);
}


.red-text{
	color: #FF3E2F;
}
.orange-text{
	color: #FF932F;
}
.blue-text{
	color: #1F8D9C;
}
.green-text{
	color: #24C340;
}


.red-text a:hover{
	color: #FF932F;
}
.orange-text a:hover{
	color: #FF3E2F;
}
.blue-text a:hover{
	color: #24C340;
}
.green-text a:hover{
	color: #1F8D9C;
}
/*~~~
NAVBAR STYLINGS
~~~*/

.navbar-brand img{
	width:120px; 
}
.navbar-default{
	background-color: #D8D8D8;
}


/*~~~
LANDING
~~~*/
.landing {
	height: 100%;
}
.carousel-inner{
	margin-top: -20px;
}

.carousel-inner img{
	width: 100%;
	max-height: 100%;
}
.landing-quote{
	font-family: 'Ubuntu';
	min-height: 100px;
	margin: 5% 10%;
}

.landing-quote h2 {
	line-height: 60px;
	text-align: center;
	letter-spacing: 1px;
}
.logo{
	z-index: 1;
	position: relative;
}

/*~~~
SECTIONS!
~~~
*/

.section-header{
	margin-bottom: 5%;
}
.charities img{
	margin: 0 auto;
}

.special-olympics {
	margin: 27% 10%;
}


/*~~~
SEPARATOR
~~~
*/
.separator{
	background-image: url(../assets/court.jpg);
	background-attachment: fixed;
	min-height: 400px;
	background-size: cover;

	position: relative;

}
.overlay{
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	
	
}
.overlay h2{
	margin: 10% 30%;
	color: #FFF;

}
/*~~~
FOOTER
~~~
*/

footer{
	min-height: 300px;

}
footer li{
	list-style: none;
	text-decoration: none;

}
footer li a{
	color: #FF932F;
}
footer li a:hover{
	text-decoration: none;
}
.site-map{
	margin: 30px auto;
}

/*~~~
ABOUT US
~~~
*/


a.list-group-item{
	width: 200px;
	background-color: #A4A4A4;
	margin-left: 1060px;
	bottom: 70px;
}
a.list-group-item:hover{
	background-color: rgba(227,21,5, 0.9);
}

.commitee-members img{
	height: 180px;			
	width: 180px;
	border-radius: 100%;
}
.navbar-default{
	background-color: white;
	box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.5);
}
.about-logo{
	position: relative;
	bottom: 20px;
	z-index: 1;
}
.about-header{
	margin: 0 auto;
	display: block;
	text-align: center;
	background-color: white;
	height: 100%;
	width: 100%;

}
.about-info{
	margin-top: 10%;
	margin-left: 1%;


}
.about-us{
	background-color: #DF7401;

}
.history{
	position: relative;
	left: 700px;
	bottom: 500px;
}
.twenty-one{
	height: 100px;
	width: 100px;
}

