/*~~~
FONT DEFAULTS
~~~*/


html,body {
	font-family: 'Ubuntu';
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	font-family: 'Ubuntu', sans-serif;


}
h1 {
	font-weight: 700;
}
h2 {
	font-weight: 500;
}
h3{
	font-weight: 300;
}
.regular{
	font-size: 2rem;
}
/*~~~
COLOURS
~~~*/

.red-bg{
	background-color: rgba(227,21,5, 0.9);
}
.orange-bg{
	background-color: rgba(227,111,5, 0.9);
}
.blue-bg{
	background-color: rgba(31,141,156, 0.9);
}
.green-bg{
	background-color: rgba(36,195,64, 0.9);
}


.red-text{
	color: #FF3E2F;
}
.orange-text{
	color: #FF932F;
}
.blue-text{
	color: #1F8D9C;
}
.green-text{
	color: #24C340;
}


.red-text a:hover{
	color: #FF932F;
}
.orange-text a:hover{
	color: #FF3E2F;
}
.blue-text a:hover{
	color: #24C340;
}
.green-text a:hover{
	color: #1F8D9C;
}
/*~~~
NAVBAR STYLINGS
~~~*/

.navbar-brand img{
	width:120px; 
}


/*~~~
LANDING
~~~*/
.landing {
	height: 100%;
}
.carousel-inner{
	margin-top: -20px;
}

.carousel-inner img{
	width: 100%;
	max-height: 100%;
}
.landing-quote{
	font-family: 'Ubuntu';
	min-height: 100px;
	margin: 5% 10%;
}

.landing-quote h2 {
	line-height: 60px;
	text-align: center;
	letter-spacing: 1px;special-olympics
}

/*~~~
SECTIONS!
~~~
*/

.section-header{
	margin-bottom: 5%;
}
.charities img{
	margin: 0 auto;
}

.special-olympics {
	margin: 27% 10%;
}


/*~~~
SEPARATOR
~~~
*/
.separator{
	background-image: url(../assets/court.jpg);
	background-attachment: fixed;
	min-height: 400px;
	background-size: cover;

	position: relative;

}
.overlay{
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	
	
}
.overlay h2{
	margin: 10% 30%;
	color: #FFF;

}
/*~~~
FOOTER
~~~
*/

footer{
	min-height: 300px;

}
footer li{
	list-style: none;
	text-decoration: none;
}
footer li a:hover{
	text-decoration: none;
}
.site-map{
	margin: 30px auto;
}
